@font-face {
    font-family: "Rubik";
    src: url("./font/Rubik-Light.ttf")
        
  }
  
  @font-face {
    font-family: "RubikBold";
    src: url("./font/Rubik-Bold.ttf")
        
  }
  
  .App {
    text-align: center;
  }
  .container{
    max-width: 1400px !important;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  *{
    font-family: "Rubik";
  }
 
  .breadr{
    background-color: transparent;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 0%); 
  }

  .breadcrumb{
    background-color: transparent;
  }
  .productercateg{
    background-color: white;
    padding: 25px;
    margin: 5px;
    padding-bottom: 0px;
  }
  .btnbrands{
    border: 0px;
    background-color: transparent;
    color: #1D2226;
    font-size: 16px;
    font-family: "RubikBold";
  }
  .imgdowncater{
    float: right;
    margin-top: 10px;
  }












  
.form-group1{
  display: inline-block;
  margin-left: 7px;
  width: 100%;
  }
  
  .form-group1 input {
    padding: 0;
  
    width: 30px;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group1 label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group1 label:before {
    content: '';
    -webkit-appearance: none;
    /* background: rgb(199 105 105 / 65%); */
    border-radius: 3px;
    border: 1px solid #0079bf;
    /* box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%); */
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  
  }
  
  .form-group1 input:checked + label:after {
   
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 7px;
    background-color: #0A8ED8;
    width: 8px;
    height: 8px;
  
    border-width: 0 2px 2px 0;


  }







  .example-track-0{
    position: absolute;
    left: 0px;
    right: 176px;
 
    height: 15px;
    /* background: rgba(0, 0, 0, 0.03); */
    border: 0.4px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    border-radius: 3px;
  }

  

  .example-track-2{
    position: absolute;
    left: 0px;
    right: 176px;
 
    height: 15px;
    /* background: rgba(0, 0, 0, 0.03); */
    /* border: 0.4px solid rgba(0, 0, 0, 0.05); */
    box-sizing: border-box;
    border-radius: 3px;
  }
  .sliderfilters{
    margin-bottom: 40px;
  }



  .example-track-1{
    background: #0A8ED8;
    /* border: 0.4px solid rgba(0, 0, 0, 0.05); */
    box-sizing: border-box;
    border-radius: 3px;
    height: 7px;
    top: 4px;
  }

  .horizontal-slider{
    background: rgba(0, 0, 0, 0.03);
/* border: 0.4px solid rgba(0, 0, 0, 0.05); */
box-sizing: border-box;
border-radius: 3px;
height: 15px;
  }
  .zagl{
    position: relative;
  }
  .zagl1{
    position: absolute;
    width: 100%;
    height: 33px;
    z-index: 500;
    top: 13px;
}
  
.slidergttn{

  position: absolute;
  top: -7px;
  left: -7px;
}
.zaglushe{
  padding-right: 10px;
  padding-left: 12px;
  top: 0px;
  position: absolute;
  left: 2px;

}
.maincikir{
  background-color: rgba(0, 0, 0, 0.03) !important;
}
.colpser{
  background: rgba(0, 0, 0, 0.03);
  border: 0.4px solid rgba(0, 0, 0, 0.05);
}
.dislbbbdf{
  display: inline-block;
  width: 100%;
  position: relative;
  height: 19px;
}
.tas1{
position: absolute;
left: 0px;
top: 0px;
font-size: 10px;
display: inline-block;
}
.tas2{
position: absolute;
right: 0px;
display: inline-block;
font-size: 10px;
}

.textmiongo1{
  color: rgba(29, 34, 38, 0.4);
  font-size: 10px;
  display: inline-block;
  padding-right: 5px;

}

.textmiongo2{
  color: rgba(29, 34, 38, 0.4);
  font-size: 10px;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}


.textmiongo3{
  color: rgba(29, 34, 38, 0.4);
  font-size: 10px;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}


.textmiongo4{
  color: rgba(29, 34, 38, 0.4);
  font-size: 10px;
  display: inline-block;

  padding-left: 5px;
}


.productblocked{
  background-color: white;
}






















.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background: #000;
  color: #000;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideralign{
  position: relative;
  padding: 20px;
  text-align: center; 
}


.slideralign .activeSlide{
  border: 2px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 6px;
}
.clasrightline{
 
  padding-left: 30px;

}
.blokersstree{
  border-right: 1px solid #0000001a;
  height: 100%;
}
.slideralign .activeSlide img{
padding: 10px;
}
.groupmaindetailproduct{
  width: 100%;
}
.newvenv{
  position: absolute;
  left: 0px;
}
.imgproductdetals{
  /* padding: 10px; */
  width: 100%;
}
.btnaddcartsravdet{
  position: absolute;
  right: 80px;
  padding: 12px;
  width: auto;
  padding-left: 14px;
  /* width: auto; */
  padding-right: 14px;
}
.btnaddcartfavoritedet{
  position: absolute;
  right: 0px;
  right: 28px;
  width: auto;
  padding: 12px;
  padding-left: 14px;
  /* width: auto; */
  padding-right: 14px;
}
.clasrightline .slick-list{
  border-bottom: 1px solid #0000001a ;
  padding-bottom: 25px !important;
  
}
.topgrgarant{
display: inline-block;
width: 100%;
padding-left: 40px;
}
.imggrgarant{
display: inline-block;
margin-bottom: 25px;
margin-right: 20px;
}
.grgarant{
display: inline-block;
}
.garantmaintext{
  margin: 0px;
  color: #B2B5C2;
  font-size: 12px;

}
.garantmonth{
margin: 0px;
color: black;
font-family: "RubikBold";
}
.midlblock{
display: inline-block;
width: 100%;
padding: 45px;
border-right: 1px solid #0000001a;
height: 100%;
padding-left: 30px;
}
.rightblockproduct{
  padding: 45px;
  padding-left: 25px;
}
.artimges{
  margin-right: 10px;
}
.midletextproduct{
  font-family: "RubikBold";
  font-size: 25px;
  margin-bottom: 35px;
}
.articul{
margin: 0px;
display: inline-block;
margin-right: 10px;
color: rgba(0, 0, 0, 0.24)
}
.snerstest{
  margin: 0px;
  display: inline-block;
  font-weight: 600;
  margin-left: 10px;
}
.maldesctiptiom{
  font-weight: 600;
  display: inline-block;
  width: 100%;
  line-height: 25px;
  margin-top: 50px;
}
.linebottoms{
  display: inline-block;
  width: 100%;
  height: 1px;
  opacity: 0.04;
  border: 1px solid #000000;
  margin-bottom: 30px;
  margin-top: 20px;
}

.types{
  display: inline-block;
  width: 100%;
  margin-bottom: 7px;

}
.minitext{
color: #B2B5C2;
margin: 0px;
display: inline-block;
width: 50%;
}
.minitext1{
  margin: 0px;
color: black;
display: inline-block;
width: 50%;
}
.brandconts{
  float: right;
}
.grtonamecontrolers{
  float: left;
  padding-top: 20px;
}
.topers{
  width: 100%;
  display: inline-block;
}
.linemonproduct{
  width: 100%;
  height: 1px;
  opacity: 0.1;
  background-color: rgb(0, 0, 0);
  margin-top: 30px;
  margin-bottom: 30px;
}
.stoimprod{
  color: #B2B5C2;
  font-size: 14px;
}
.cenatopiks{
  font-family: "RubikBold";
  font-size: 30px;
}
.tik{
  display: inline-block;
  width: 100%;
}
.tiktext{
  color: #B2B5C2;
  display: inline-block;
  width: 50%;
}
.grouties{
  display: inline-block;
  width: 50%;
  
}
.btnleftminus{
 float: left; 
 background: rgba(0, 0, 0, 0.03);
border-radius: 3px;
transform: matrix(-1, 0, 0, 1, 0, 0);
border: 0px;
padding: 5px;
padding-left: 14px;
padding-right: 14px;
}
.countd{
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.05);
box-sizing: border-box;
border-radius: 3px;
padding: 5px;
padding-left: 30px;
padding-right: 30px;
margin-left: 5px;
margin-right: 5px;
}
.btnpls{
  background: rgba(0, 0, 0, 0.03);
border-radius: 3px;
transform: matrix(-1, 0, 0, 1, 0, 0);
border: 0px;
padding: 5px;
padding-left: 14px;
padding-right: 14px;
}
.carttoproductes{
  background: linear-gradient(100.08deg, #0A8ED8 -0.73%, #38AAEB 108.65%);
border-radius: 8px;
display: inline-block;
width: 100%;
padding: 15px;
border: 0px;
color: white;
margin-top: 40px;
margin-bottom: 70px;
}
.carttoproductes img{
margin-right: 10px;
}
.documentbtn{
  margin-top: 10px;
  width: 100%;
  display: inline-block;
  background: rgba(17, 146, 219, 0.06);
}
.pastext{
background-color: transparent;
border: 0px;
width: 100%;
text-align: left;

}
.pastext p{
  display: inline-block;
  margin: 0px;
  color: #1192DB;
  font-size: 12px;
  padding-top: 12px;
}
.icodoc{
float: left;
}
.rgblue{
float: right;
padding: 15px;
}
.documenttextlabel{
  color: #B2B5C2;
}
.textpssss{
  border-radius: 8px;
}
.harakters{
  margin-top: 30px;
}
.btnactive{
border: 0px;
color: black;
background-color: transparent;
margin-right: 20px;
}
.btnactiveno{
  margin-right: 20px;
  background-color: transparent;
  border: 0px;
  color: #D0D0D0;
}
.opisek{
 
  margin-bottom: 30px;
}
.opisanser{
font-size: 17px;
line-height: 30px;
}
.halopers{
  padding: 30px;
}